.conversao-container {
    padding: 20px;

    .title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
    }

    .result {
        margin-top: 20px;
        text-align: center;
        font-size: 1.2rem;
        color: #007bff;
    }
}